<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="BancoDeDados" value ="D:\Bancodedados\"/>
		<!-- Local aonde os dados serão gravados, é necessário colocar como está em seu computador e adicionar uma contrabarra(\) ao final.-->
		<add key ="LocalArquivo" value ="D:\Bancodedados\Usuario.txt"/>
		<!-- Mesmo local, mas agora é com o arquivo inteiro.-->
	</appSettings>
</configuration>